<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>Locate Express | Coming Soon</title>
  <meta name="description" content="Locate Express" />
  <meta name="keywords" content="Locate Express" />
  <link href="/stylesheets/style.css" media="screen" rel="stylesheet" type="text/css" />
</head>
    
<body>

Admin!
<% @orders.each do |order| %>
<h2>Order #<%= order.id %></h2>
<%= order.bill_firstname %> <%= order.bill_lastname %><br />
<%= order.bill_address1 %><br />
<%= order.bill_address2 + '<br />' if !order.bill_address2.blank? %>
<%= order.bill_city %> <%= order.bill_state %>, <%= order.bill_zipcode %><br />
<%= order.ship_firstname %> <%= order.ship_lastname %><br />
<%= order.ship_address1 %><br />
<%= order.ship_address2 + '<br />' if !order.ship_address2.blank? %>
<%= order.ship_city %> <%= order.ship_state %>, <%= order.ship_zipcode %><br />
<%= order.phone %>
<%= order.email %>
<% end %>
</body>
</html>
