<%= erb :header, :locals => { :body_class => @cart.items.empty? ? 'empty_cart' : 'cart' } %>
    
<div class="wrapper cart_wrapper">
<% if @success %>
<div class="center">
<img src="/images/success.png" id="success" />
</div>
<% else %>
<% if @cart.items.empty? %>
<div class="center">
<img class="empty" src="/images/empty.png" alt="Your Cart is empty!" />
</div>
<% else %>
<form action="/cart/update" method="post" class="cart">
  <% @cart.items.each do |item| %>
  <div class="cart_item">
    <img src="<%= item[:product].image %>" class="thumbnail" alt="<%= item[:product].name %>" />
    <p>
      <a class="remove" href="/cart/remove/<%= item[:product].id %>"><img src="/images/close.png" /></a>
      <span><%= item[:product].name %></span>
      <input type="text" name="quantity[<%= item[:product].id %>]" value="<%= item[:quantity] %>" />
      x <%= price_display(item[:product].price) %> = <%= price_display(item[:quantity]*item[:product].price) %>
    </p>
  </div>
  <% end %>
  <img id="small_divider" src="/images/divider_small.png" alt="" />
  <div class="totals">
    <input type="image" src="/images/update.png" />
    <span id="subtotal">Subtotal: <%= price_display(@cart.total) %></span>
    <span id="shipping_total"></span>
    <span id="total"></span>
  </div>
</form>

<form action="/cart" method="post" class="order">
  <img id="checkout" src="/images/checkout.png" alt="checkout" />
  <div class="error">
    <%= @message %>
  </div>
    <table width="100%" cellpadding="0" cellspacing="0">
      <tr>
        <td width="50%" valign="top">
          <p>
            <label>email:</label>
            <input type="text" name="[order]email" value="<%= params[:order][:email].to_s %>"/>
          </p>
          <p>
            <label>phone:</label>
            <input type="text" name="[order]phone" value="<%= params[:order][:phone].to_s %>" />
          </p>
        </td><td>
          <p>
            <label>card number:</label>
            <input type="text" name="[credit_card]number" />
          </p>
          <p>
            <label>card code:</label>
            <input type="text" name="[credit_card]verification_value" />
          </p>
          <p>
            <label>expiration date:</label>
            <select name="[credit_card]month" id="month">
            <% 1.upto(12) do |a| %>
            <option value="<%= a %>"><%= a %></option>
            <% end %>
            </select>
            <select name="[credit_card]year" id="year">
            <% 2011.upto(2020) do |a| %>
            <option value="<%= a %>"><%= a %></option>
            <% end %>
            </select>
          </p>
        </td>
      </tr>
      <tr><td>
        <h3>Billing Address</h3>
          <p>
            <label>first name:</label>
            <input type="text" name="[order]bill_firstname" value="<%= params[:order][:bill_firstname].to_s %>" />
          </p>
          <p>
            <label>last name:</label>
            <input type="text" name="[order]bill_lastname" value="<%= params[:order][:bill_lastname].to_s %>" />
          </p>
          <p>
            <label>street1:</label>
            <input type="text" name="[order]bill_address1" value="<%= params[:order][:bill_address1].to_s %>" />
          </p>
          <p>
            <label>street2:</label>
            <input type="text" name="[order]bill_address2" value="<%= params[:order][:bill_address2].to_s %>" />
          </p>
          <p>
            <label>city:</label>
            <input type="text" name="[order]bill_city" value="<%= params[:order][:bill_city].to_s %>" />
          </p>
          <p>
            <label>state:</label>
            <select name="[order]bill_state">
            <%= erb :states, :locals => { :field => "bill_state", :params => params } %>
            </select>
          </p>
          <p>
            <label>zip:</label>
            <input type="text" name="[order]bill_zipcode" value="<%= params[:order][:bill_zipcode].to_s %>" />
          </p>
      </td><td>
        <h3>Shipping Address</h3>
          <p>
            <label>first name:</label>
            <input type="text" name="[order]ship_firstname" value="<%= params[:order][:ship_firstname].to_s %>" />
          </p>
          <p>
            <label>last name:</label>
            <input type="text" name="[order]ship_lastname" value="<%= params[:order][:ship_lastname].to_s %>" />
          </p>
          <p>
            <label>street1:</label>
            <input type="text" name="[order]ship_address1" value="<%= params[:order][:ship_address1].to_s %>" />
          </p>
          <p>
            <label>street2:</label>
            <input type="text" name="[order]ship_address2" value="<%= params[:order][:ship_address2].to_s %>" />
          </p>
          <p>
            <label>city:</label>
            <input type="text" name="[order]ship_city" value="<%= params[:order][:ship_city].to_s %>" />
          </p>
          <p>
            <label>state:</label>
            <select name="[order]ship_state" class="shipping">
            <%= erb :states, :locals => { :field => "ship_state", :params => params } %>
            </select>
          </p>
          <p>
            <label>zip:</label>
            <input type="text" name="[order]ship_zipcode" value="<%= params[:order][:ship_zipcode].to_s %>" class="shipping" />
          </p>
        </td>
      </tr>
      <tr><td colspan="2">
        <h3>Shipping Methods</h3>
      </td></tr>
      <tr><td colspan="2" id="shipping_methods" valign="top">
      </td></tr>
    </table>
    <div class="center">
      <input type="image" src="/images/submit.png" value="Submit" class="submit" />
    </div>
</form>
<div class="clear"></div>
<% end %>
<% end %>
</div>

<%= erb :footer %>
