<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>My Store</title>
  <meta name="description" content="My Store" />
  <meta name="keywords" content="My Store" />
  <link href="/stylesheets/style.css" media="screen" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="/javascripts/jquery-1.4.4.min.js"></script>
  <script type="text/javascript" src="/javascripts/site.js"></script>
</head>
    
<body>
<div id="header">
  <div class="wrapper">
    <a href="/"><img id="logo" src="/images/cupcakes.png" /></a>
    <a id="cart_link" href="/cart"><img src="/images/cart.png" alt="Your Cart" class="cart" /></a>
  </div>
</div>

<div class="products wrapper">
  <% @products.each do |product| %>
  <form action="/cart/add" method="post" class="product">
    <img src="<%= product.image %>" alt="<%= product.name %>" />
    <h2>
      <%= product.name %>
      <span><%= product.price_display %></span>
    </h2>
    <p><%= product.description %></p>
    <input type="hidden" name="product_id" value="<%= product.id %>" />
    <div class="center">
      <input type="text" name="quantity" value="1" />
      <input type="image" class="submit" src="/images/add.png" />
    </div>
  </form>
  <% end %>
  <div class="clear"></div>
</div>

<div id="footer"></div>
</body>
</html>
