<%= erb "layout/header".to_sym, :locals => { :body_class => 'index' } %>

<div class="products wrapper">
  <% @products.each do |product| %>
  <form action="/cart/add" method="post" class="product">
    <img src="<%= product.image %>" alt="<%= product.name %>" />
    <h2>
      <%= product.name %>
      <span><%= price_display(product.price) %></span>
    </h2>
    <p><%= product.description %></p>
    <input type="hidden" name="product_id" value="<%= product.id %>" />
    <div class="center">
      <input type="text" name="quantity" value="1" class="quantity" />
      <input type="image" class="submit" src="/images/add.png" />
    </div>
  </form>
  <% end %>
  <div class="clear"></div>
</div>

<%= erb "layout/footer".to_sym %>
