<%= erb :header, :locals => { :body_class => 'index' } %>

<div class="products wrapper">
  <% @products.each do |product| %>
  <form action="/cart/add" method="post" class="product">
    <img src="<%= product.image %>" alt="<%= product.name %>" />
    <h2>
      <%= product.name %>
      <span><%= product.price_display %></span>
    </h2>
    <p><%= product.description %></p>
    <input type="hidden" name="product_id" value="<%= product.id %>" />
    <input type="text" name="quantity" value="1" />
    <input class="submit" type="submit" value="ADD!" />
  </form>
  <% end %>
  <div class="clear"></div>
</div>

<%= erb :footer %>
