<option <%= 'selected="selected"' if params[:order][field.to_sym].to_s == 'AL' %> value="AL">Alabama</option>
<option <%= 'selected="selected"' if params[:order][field.to_sym].to_s == 'AK' %> value="AK">Alaska</option>
<option <%= 'selected="selected"' if params[:order][field.to_sym].to_s == 'AZ' %> value="AZ">Arizona</option>
<option <%= 'selected="selected"' if params[:order][field.to_sym].to_s == 'AR' %> value="AR">Arkansas</option>
<option <%= 'selected="selected"' if params[:order][field.to_sym].to_s == 'CA' %> value="CA">California</option>
<option <%= 'selected="selected"' if params[:order][field.to_sym].to_s == 'CO' %> value="CO">Colorado</option>
<option <%= 'selected="selected"' if params[:order][field.to_sym].to_s == 'CT' %> value="CT">Connecticut</option>
<option <%= 'selected="selected"' if params[:order][field.to_sym].to_s == 'DE' %> value="DE">Delaware</option>
<option <%= 'selected="selected"' if params[:order][field.to_sym].to_s == 'FL' %> value="FL">Florida</option>
<option <%= 'selected="selected"' if params[:order][field.to_sym].to_s == 'GA' %> value="GA">Georgia</option>
<option <%= 'selected="selected"' if params[:order][field.to_sym].to_s == 'HI' %> value="HI">Hawaii</option>
<option <%= 'selected="selected"' if params[:order][field.to_sym].to_s == 'ID' %> value="ID">Idaho</option>
<option <%= 'selected="selected"' if params[:order][field.to_sym].to_s == 'IL' %> value="IL">Illinois</option>
<option <%= 'selected="selected"' if params[:order][field.to_sym].to_s == 'IN' %> value="IN">Indiana</option>
<option <%= 'selected="selected"' if params[:order][field.to_sym].to_s == 'IA' %> value="IA">Iowa</option>
<option <%= 'selected="selected"' if params[:order][field.to_sym].to_s == 'KS' %> value="KS">Kansas</option>
<option <%= 'selected="selected"' if params[:order][field.to_sym].to_s == 'KY' %> value="KY">Kentucky</option>
<option <%= 'selected="selected"' if params[:order][field.to_sym].to_s == 'LA' %> value="LA">Louisiana</option>
<option <%= 'selected="selected"' if params[:order][field.to_sym].to_s == 'ME' %> value="ME">Maine</option>
<option <%= 'selected="selected"' if params[:order][field.to_sym].to_s == 'MD' %> value="MD">Maryland</option>
<option <%= 'selected="selected"' if params[:order][field.to_sym].to_s == 'MA' %> value="MA">Massachussetts</option>
<option <%= 'selected="selected"' if params[:order][field.to_sym].to_s == 'MI' %> value="MI">Michigan</option>
<option <%= 'selected="selected"' if params[:order][field.to_sym].to_s == 'MN' %> value="MN">Minnesota</option>
<option <%= 'selected="selected"' if params[:order][field.to_sym].to_s == 'MS' %> value="MS">Mississippi</option>
<option <%= 'selected="selected"' if params[:order][field.to_sym].to_s == 'MO' %> value="MO">Missouri</option>
<option <%= 'selected="selected"' if params[:order][field.to_sym].to_s == 'MT' %> value="MT">Montana</option>
<option <%= 'selected="selected"' if params[:order][field.to_sym].to_s == 'NE' %> value="NE">Nebraska</option>
<option <%= 'selected="selected"' if params[:order][field.to_sym].to_s == 'NV' %> value="NV">Nevada</option>
<option <%= 'selected="selected"' if params[:order][field.to_sym].to_s == 'NH' %> value="NH">New Hampshire</option>
<option <%= 'selected="selected"' if params[:order][field.to_sym].to_s == 'NJ' %> value="NJ">New Jersey</option>
<option <%= 'selected="selected"' if params[:order][field.to_sym].to_s == 'NM' %> value="NM">New Mexico</option>
<option <%= 'selected="selected"' if params[:order][field.to_sym].to_s == 'NY' %> value="NY">New York</option>
<option <%= 'selected="selected"' if params[:order][field.to_sym].to_s == 'NC' %> value="NC">North Carolina</option>
<option <%= 'selected="selected"' if params[:order][field.to_sym].to_s == 'ND' %> value="ND">North Dakota</option>
<option <%= 'selected="selected"' if params[:order][field.to_sym].to_s == 'OH' %> value="OH">Ohio</option>
<option <%= 'selected="selected"' if params[:order][field.to_sym].to_s == 'OK' %> value="OK">Oklahoma</option>
<option <%= 'selected="selected"' if params[:order][field.to_sym].to_s == 'OR' %> value="OR">Oregon</option>
<option <%= 'selected="selected"' if params[:order][field.to_sym].to_s == 'PA' %> value="PA">Pennsylvania</option>
<option <%= 'selected="selected"' if params[:order][field.to_sym].to_s == 'RI' %> value="RI">Rhode Island</option>
<option <%= 'selected="selected"' if params[:order][field.to_sym].to_s == 'SC' %> value="SC">South Carolina</option>
<option <%= 'selected="selected"' if params[:order][field.to_sym].to_s == 'SD' %> value="SD">South Dakota</option>
<option <%= 'selected="selected"' if params[:order][field.to_sym].to_s == 'TN' %> value="TN">Tennessee</option>
<option <%= 'selected="selected"' if params[:order][field.to_sym].to_s == 'TX' %> value="TX">Texas</option>
<option <%= 'selected="selected"' if params[:order][field.to_sym].to_s == 'UT' %> value="UT">Utah</option>
<option <%= 'selected="selected"' if params[:order][field.to_sym].to_s == 'VT' %> value="VT">Vermont</option>
<option <%= 'selected="selected"' if params[:order][field.to_sym].to_s == 'VA' %> value="VA">Virginia</option>
<option <%= 'selected="selected"' if params[:order][field.to_sym].to_s == 'WA' %> value="WA">Washington</option>
<option <%= 'selected="selected"' if params[:order][field.to_sym].to_s == 'WV' %> value="WV">West Virginia</option>
<option <%= 'selected="selected"' if params[:order][field.to_sym].to_s == 'WI' %> value="WI">Wisconsin</option>
<option <%= 'selected="selected"' if params[:order][field.to_sym].to_s == 'WY' %> value="WY">Wyoming</option>
